/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root{
    --header-height : 3.5rem;
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:.2rem solid var(#443);
    --border-hover:.2rem dashed var(#443);
}

  /*==========Base==========*/
 *{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    outline: none;
    text-decoration: none;
    border: none;
    transition: all .2s linear;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

::-webkit-scrollbar {
    width: .6rem;
    background: rgb(189, 189, 189);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43);
  }

/*header-1 styling*/
.header-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(220,220,220,.35);
    padding:1.2rem 0;
}

.header-1 .share{
    display: flex;
    width: 9%;
    justify-content: space-between;
}

.header-1 .share a{
    color: #707070;
    font-size: 1.6rem;
}

.header-1 .email a,
.header-1 .call a{
    color: #707070;
    margin-left: .3rem;
    font-size: 1.6rem;
}

.header-1 .email i,
.header-1 .call i{
    color: #707070;
    font-size: 1rem;
}

/*header-2 styling*/
.header-2{
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 9%;
}

.header-2 .logo i{
    color: rgb(32, 149, 174);
    font-size: 2rem;
}

.header-2 .logo span{
    font-size: 2.4rem;
    color: black;
    font-weight: bolder;
}

.header-2 .navbar{
    display: flex;
    width: 28%;
    justify-content: space-between;
    align-items: center;
}

.header-2 .navbar a.active{
    color: rgb(32, 149, 174);
}

.header-2 .navbar a{
    color: #303030;
    font-size: 1.8rem;
    transition: all .2s linear;
    margin: 0 2rem;
}

.header-2 .navbar a:hover{
    color: rgb(32, 149, 174);
}

.header-2 .search{
    color: #303030;
    font-size: 1.8rem;
}

.header-2 .search:hover{
    color: rgb(32, 149, 174);
    cursor: pointer;
}

#menu-btn{
    font-size: 3rem;
    color: #303030;
    cursor: pointer;
    display: none;
}

.header-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/*home section styling*/
.home{
    padding-top: 0;
}

.home .home-slider{
    box-shadow: 0 .5rem 1rem solid rgba(0,0,0,.1);
}

.home .home-slider .box{
    background-size: cover !important;
    background-position: center !important;
    height: 90vh;
    position: relative;
    width: 100%;
    z-index: 0;
}

.home .home-slider .box::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(48, 48, 48,.65);
}

.home .home-slider .box .content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.home .home-slider .box .content h3{
    font-size: 5rem;
    color: #fff;
    text-transform: capitalize;
    padding-bottom: 2rem;
    text-align: center;
}

.home .home-slider .box .content p{
    color: #fff;
    font-size: 1.8rem;
    line-height: 2;
    width: 75rem;
    padding-bottom: 2rem;
    text-align: center;
}

.btn{
    color: #fff;
    text-transform: uppercase;
    background: rgb(32, 149, 174);
    padding: 1rem 1.4rem;
    font-size: 1.7rem;
}

/*service features styling*/
.icons-container{
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
}

.icons-container .icon{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    align-items: center;
    flex: 1 1 24rem;
}

.icons-container .icon i{
    font-size: 3.5rem;
    margin: 2rem;
    color:rgb(32, 149, 174); ;
}

.icons-container .icon .content{
    padding-left: 2rem;
}

.icons-container .icon .content h3{
    font-size: 2rem;
    color: #303030;
    text-transform: capitalize;
}

/*about section styling*/
.about{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about .image{
    flex: 1 1 42rem;
    display: flex;
    align-items: center;
    position: relative;
}

.about .image img{
    height: 45rem;
    width: 70%;
    margin: 0 auto;
}

.about .image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
    bottom: 0;
    right: 0;
    background: rgba(67, 153, 251,.55);
    z-index: -2;
    width: 80%;
    height: 100%;
}

.about .content, #payment .content{
    flex: 1 1 42rem;
    margin-left: 4rem;
    padding: 0 2.5rem;
}

.about .content span{
    color: #707070;
    font-size: 2rem;
    text-transform: uppercase;
}

.about .content h3{
    font-size: 3.3rem;
    color: #303030;
    padding-bottom: .7rem;
}

.about .content h3 span{
    color: rgb(32, 149, 174);
    font-size: 3.3rem;
}

.about .content i{
    font-size: 2rem;
    color: rgb(32, 149, 174);
    padding-bottom: 2rem;
}

.about .content p{
    font-size: 1.6rem;
    color: #707070;
    line-height: 1.3;
    padding-bottom: 2rem;
}

/*services styling*/
.service{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0;
    background:rgba(220,220,220,.25) ;
}

.service .image{
    flex: 1 1 42rem;
    display: flex;
    align-items: center;
    position: relative;
}

.service .image img{
    height: 45rem;
    width: 70%;
    margin: 0 auto;
}

.service .image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
    bottom: 0;
    right: 0;
    background: rgba(67, 153, 251,.55);
    z-index: -2;
    width: 80%;
    height: 100%;
}

.service .content{
    padding: 3rem;
    flex: 1 1 45rem;
}

.service .content span{
    color: #707070;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.service .content h3{
    font-size: 3.3rem;
    color: #303030;
    padding-bottom: .7rem;
}

.service .content i{
    font-size: 2rem;
    color: rgb(32, 149, 174);
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.service .content p{
    font-size: 1.4rem;
    color: #707070;
    line-height: 1.3;
    padding-bottom: 2rem;
}

.service .content .features-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.service .content .features-container .features{
    flex: 1 1 24rem;
    padding: 1.5rem 0;
}

.service .content .features-container .features .title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.service .content .features-container .features .title i{
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.service .content .features-container .features .title h3{
    font-size: 2rem;
    color: #303030;
}

/* s-cat section styling*/
.s-cat{
    background: #fff;
    text-align: center;
    padding: 3rem 7rem;
}

.s-cat span{
    color: #707070;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.s-cat h3{
    font-size: 3.3rem;
    color: #303030;
    padding-bottom: .7rem;
    text-transform: capitalize;
}

.s-cat h3 span{
    color: rgb(32, 149, 174);
    font-size: 3.3rem;
    text-transform: capitalize;
}

.s-cat i{
    font-size: 2rem;
    color: rgb(32, 149, 174);
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.s-cat .cat-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
    padding: 4rem;
}

.s-cat .cat-container .categories{
    flex: 1 1 40rem;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.3);
}

.s-cat .cat-container .categories .image img{
    width: 100%;
    height: 25rem;
}

.s-cat .cat-container .categories .content{
    padding: 2rem 3rem;
    text-align: center;
}

.s-cat .cat-container .categories .content i{
    background: #fff;
    border-radius: 50%;
    padding: 2.5rem;
    font-size: 3rem;
    border: .1rem solid rgba(0,0,0,.1);
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15);
    margin-top: -10rem !important;
    margin-bottom: 1.5rem;
}

.s-cat .cat-container .categories .content p{
    color: #707070;
    font-size: 1.4rem;
    line-height: 1.7;
}

.s-cat .cat-container .categories .content h3{
    font-size: 2.3rem;
    text-transform: capitalize;
}

 /* banner section styling */
 
.banner-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 6rem !important;
}

.banner-container .banner{
    flex: 1 1 40rem;
    height: 25rem;
    border: .1rem solid rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
}

.banner-container .banner .content{
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

.banner-container .banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-container .banner:hover img{
    transform: scale(1.1);
}

.banner-container .banner .content span{
    color: #666;
    font-size: 1.7rem;
}

.banner-container .banner .content h3{
    color: #333;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

 /* extra section styling  */
.extra {  
    /* display: flex;  
    justify-content:flex-end;  */
    align-items:flex-end;  
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 4rem 6% !important;  
    background-image: linear-gradient(270deg, rgb(140, 189, 196), white) !important;
 }  

.extra .row .content{
    flex: 1 1 40rem;
}

.extra .row .content span{
    color: #707070;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.extra .row .content h3{
    font-size: 3.3rem;
    color: #303030;
    padding-bottom: .7rem;
    text-transform: capitalize;
}

.extra .row .content h3 span{
    color: rgb(32, 149, 174);
    font-size: 3.3rem;
    text-transform: capitalize;
}

.extra .row .content p{
    font-size: 1.6rem;
    color: #707070;
    line-height: 1.3;
    width: 60rem;
    margin-bottom: 3rem;
}

.extra .row .content .btn{
    margin: 4rem 0 !important;
}

 .oval-frame {  
    width: 100%;  
    height: 300px;  
    border-radius: 50%;  
    background-color: #ffffff;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
 }  
   
 .left-section .oval-frame {  
    width: 250px;  
    height: 250px; 
    border: 5px solid white;
 }  
   
 .right-section .oval-frame {  
    width: 400px;  
    height: 400px;  
    margin-left: -8rem;
    border: 5px solid white;
 }  
   
 .oval-frame img {  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
    border-radius: 50%;  
 }

 /* portfolio section styling */
 .portfolio{
    background: #fff;
    text-align: center;
    padding: 3rem 7rem;
}

.portfolio span{
    color: #707070;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.portfolio h3{
    font-size: 3.3rem;
    color: #303030;
    padding-bottom: .7rem;
    text-transform: capitalize;
}

.portfolio h3 span{
    color: rgb(32, 149, 174);
    font-size: 3.3rem;
    text-transform: capitalize;
}

.portfolio .box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portfolio .box-container .box{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.portfolio .box-container .box .img{
    position: relative;
    z-index: 0;
    cursor: pointer;
    transition: all .5s;
}

.portfolio .box-container .box .img img{
    width: 100%;
    padding: 15px; 
    margin: 1rem;
    border-radius: 5px;
}

.portfolio .box-container .box .img:hover::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 149, 174,0.45)
}

/*contact form & map*/
.contact{
    background: #fff;
    padding: 7rem;
    /* text-align: center; */
}

.contact span{
    color: #707070;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.contact h3{
    font-size: 3.3rem;
    color: #303030;
    padding-bottom: .7rem;
    text-transform: capitalize;
}

.contact h3 span{
    color: rgb(32, 149, 174);
    font-size: 3.3rem;
    text-transform: capitalize;
}

.contact i{
    font-size: 2rem;
    color: rgb(32, 149, 174);
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:0;
}

.contact .row .contact-form{
    flex: 1 1 45rem;
}

.contact .row .map{
    flex: 1 1 45rem;
}

.contact .row .map iframe{
    width: 64rem;
    height: 44rem;
}

.contact .row .contact-form input,
.contact .row .contact-form textarea{
    border: .2rem solid rgba(0,0,0,.3);
    padding: 1.2rem 1rem;
    width: 80%;
    margin: 1.7rem 0;
}

.contact .row .contact-form label{
    font-size: 1.6rem;
}

.contact .row .contact-form ::placeholder{
    color: #707070;
    font-size: 1.4rem;
}

/*footer */
.footer{
    padding: 6rem 16rem;
    background-position: center;
    background-size: cover;
    width: 100%;
    z-index: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    align-items: center;
}

.footer::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(48, 48, 48,.85);
}

.footer .about{
    flex: 1 1 20rem;
}

.footer  h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 2rem;
}

.footer a{
    color: #e9eaeb;
    font-size: 1.4rem;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: none;
}

.footer p{
    color:#e9eaeb;
    font-size: 1.4rem;
    line-height: 1.3;
}

.footer .about h3{
    color: rgb(32, 149, 174);
}

.footer .quick-links{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.4rem;
    transition: .6s all linear;
}

.footer .quick-links a:hover{
    color: rgb(32, 149, 174);
    text-decoration: underline;
    margin-left: .8rem;
}

.footer .contacts{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}

.footer .contacts i{
    font-size: 1.7rem;
    color: rgb(32, 149, 174);
    padding-bottom: .7rem;
}

.footer .s-media{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}

.footer .s-media a{
    padding-bottom: .7rem;
    font-size: 1.7rem;
    border: .2rem solid rgb(32, 149, 174);
    padding: .7rem;
    border-radius: 50%;
    transition: .6s all linear;
}

.footer .s-media a:hover{
    background: rgb(32, 149, 174);
    color: #fff;
}

.footer .s-media .s-icon{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.footer .s-media p{
    margin-left: 1rem;
    margin-top: 1rem;
    text-transform: capitalize;
}

/*copyright styling*/
.copyright{
    background: #303030;
    width: 100%;
}

.copyright .footer-2{
    width: 100%;
    padding: 2.5rem 9%;
    flex: 1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    gap: 50rem;
}

.copyright .footer-2 .copy{
    font-size: 1.4rem;
    color: #707070;
}

.copyright .footer-2 .copy span{
    color:rgb(32, 149, 174);
}

.copyright .footer-2 .bottom-navbar{
    flex: 1 1 40rem;
    display: flex;
    gap: 2rem;
    flex-flow: row;
}

.copyright .footer-2 .bottom-navbar a{
    color: #707070;
    font-size: 1.4rem;
    transition: .6s all linear;
}

.copyright .footer-2 .bottom-navbar a:hover{
    color: rgb(32, 149, 174);
}

/*==============================Home page ends===================*/

/*==============================About page starts===================*/
.service-features{
    padding: 2rem 6%;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    gap: 3rem;
}

.card {
    width: 25%;
    text-align: center;
    background-color: #f0f0f0a4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card i {
    font-size: 2.8rem;
    border-radius: 50%;
    padding: 2rem;
    background-color: #3498db;
    color: white;
    margin-bottom: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
}

.vision{
    height: 85vh;
    margin-top: -2rem;
    margin-bottom: 8rem !important;
}

.vision .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white !important;
}

.vision .container .image{
    width: 100%;
    height: 85vh !important;
    background-image: url('/images/banner\ -\ Copy.jpg');
    background-size:cover;
    position: absolute;
    opacity: .85;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}

.stat {
    width: 25%;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stat-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3498db;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.stat-value {
    font-size: 1.3rem;
    line-height: 2;
}

.button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #2ecc71;
}

.card-button:hover {
    background-color: #2ecc71;
}

.faqs{
    text-align: center;
}

.faqs span{
    color: #707070;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.faqs h3{
    font-size: 3.3rem;
    color: #303030;
    padding-bottom: .7rem;
    text-transform: capitalize;
}

.faqs h3 span{
    color: rgb(32, 149, 174);
    font-size: 3.3rem;
    text-transform: capitalize;
}

.faqs i{
    font-size: 2rem;
    color: rgb(32, 149, 174);
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.faq{
    width: 100%;
    height: 90vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq .container{
    width: 100%;
    max-width:100rem;
    margin: 0 auto;
    padding:  0 1.5rem;
}

.faq .accordion-items{
    border-radius: .4rem;
    margin-bottom: 2rem;
    padding: 2rem;
    box-shadow: .6rem 3px .5rem rgba(0,0,0,0.1);
} 

.faq .accordion-link{
    font-size: 1.6rem;
    color: #000;
    font-weight: 900;
    text-decoration: none;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 0; 
}

.faq .accordion-link i{
    color: #000;
    padding: .5rem;
}

.faq .accordion-link .fa-minus{
    display: none;
}

.faq .accordion-items .answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: white;
    transition: max-height 650ms;
}

.faq .accordion-items .answer::before{
    content: " ";
    position: absolute;
    width: .3rem;
    height: 90%;
    background-color: #8fc460;
    top: 50%;
    left: 0;
    transform: translateY(-50%);  
}

.faq .accordion-items .answer p{
    font-size: 1.4rem;
    line-height: 1.7;
    padding: 1rem;
    text-align:start;
}

.faq .accordion-items .answer ul{
    padding: 1rem;
}

.faq .accordion-items .answer ul li{
    font-size: 1.4rem;
    text-align: start;
    align-items: flex-start;
}

.faq .accordion-items:target .answer{
    max-height: 20rem;
}

.faq .accordion-items:target .accordion-link .fa-plus{
    display: none;
}

.faq .accordion-items:target .accordion-link .fa-minus{
    display: block;
}

/*==============================About page ends===================*/


/*==============================carrer page starts===================*/

.career{
    background-image: linear-gradient(270deg, rgb(140, 189, 196), white) !important;
}

.portfolio .box-container .box .content{
    padding: 2rem !important;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15);
    border-top: 5px solid rgb(32, 149, 174);
}

.portfolio .box-container .box .content h2{
    font-size: 2.5rem;
    text-align: center;
    color: rgb(32, 149, 174);
    letter-spacing: 2px;
}

.portfolio .box-container .box .content .role{
    text-align: left;
    margin: 2rem 0;
}

.portfolio .box-container .box .content p, .portfolio .box-container .box .content ul li{
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 1rem 0;
}

.portfolio .box-container .box .content h3{
    font-size: 2rem;
    text-align: left;
}

.portfolio .box-container .box .content ul{
    text-align: left;
    padding:0 2rem;
}

.quote{
    padding: 4rem 10%;
    /* background-color: linear-gradient(90deg, rgb(40, 183, 205), white);  */
    background: linear-gradient(90deg, rgb(40, 183, 205), white);
    /* height: 35vh; */
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
}

.quote .quotes{
    flex: 1 1 40rem;
}

.quote .quotes p{
    font-size: 3rem;
    line-height: 2;
    font-weight: 500;
}

.quote .quotes p span{
    color: whitesmoke;
    text-shadow: 2px 1px rgb(43, 43, 43);
    letter-spacing: 2px;
}

.quote .apply{
    flex: 1 1 40rem;
}

.quote .apply p{
    font-size: 1.7rem;
    line-height: 1.7;
}

.quote .apply .features-container .features .title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.quote .apply .features-container .features .title i{
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}

.quote .apply .features-container .features .title h3{
    font-size: 2rem;
    color: #303030;
}
/*==============================carrer page ends===================*/


/*==============================contacts page starts===================*/
.contact-info, .steps{
    padding: 2rem;
    background: rgba(238, 238, 238,.5);
    text-align: center;
}

.steps .cards-container .card{
    width: 35%;
    /* box-shadow: 10px 15px rgba(0, 0, 0, 0.1); */
    position: relative;
}

.steps .cards-container .card::before{
    content: '01';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: .3s ease-in-out;
    font-size: 5rem;
    background-color: rgb(40, 183, 205);
}

.steps .cards-container .card:nth-child(2):before{
    content: '02';
}

.steps .cards-container .card:nth-child(3):before{
    content: '03';
}

.steps .cards-container .card:nth-child(4):before{
    content: '04';
}

.steps .cards-container .card:hover::before{
    top: 1rem;
    left: 1rem;
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
}

#payment .content ul li {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

#payment .content ul li h4{
    font-size: 1.5rem;
    text-transform: capitalize;
}

#payment .content ul li span{
    font-size: 1.3rem;
    text-transform: capitalize;
}

.contact-info span, .steps span{
    color: #707070;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.contact-info h3, .steps h3{
    font-size: 3.3rem;
    color: #303030;
    padding-bottom: .7rem;
    text-transform: capitalize;
    text-align: center;
}

.contact-info h3 span, .steps h3 span{
    color: rgb(32, 149, 174);
    font-size: 3.3rem;
    text-transform: capitalize;
}

.contact-info i{
    font-size: 2rem;
    color: rgb(32, 149, 174);
    padding-bottom: 1.5rem;
    padding-top: 2rem;
}

.contact-info .row-1{
    padding: 0 6%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-info .row-1 .ct1{
    margin-top: 4rem;
    flex : 1 1 25rem;
}

.contact-info .row-1 .ct1 i{
    color: #fff;
    background: rgb(32, 149, 174);
    padding: 2rem;
    border-radius: 50%;
    font-size: 3rem;
}

.contact-info .row-1 .ct1 h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 1rem 0;
}

.contact-info .row-1 .ct1 p{
    font-size: 1.6rem;
    color: #707070;
    font-weight: bold;
}

.contact-info .line-4 hr {
    height: .35px;
    background:#707070;
    margin:5rem auto;
    margin-bottom: -5rem;
    width: 75%;
  }


/*==============================contacts page ends===================*/


/*====================FOR SMALL DEVICES=====================*/
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:991px){
    .header-1, .header-2{
        padding: 2rem;
    }

    section{
        padding: 1.5rem;
    }

    .header-1 .share{
        width: 15%;
    }
    .header-2 .navbar{
        width: 50%;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline;
        -webkit-transition: .2s linear;
        transition: .2s linear;
    }

    #menu-btn.fa-times {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      }

    .header-2 .logo{
        display: initial;
    }

    .header-2 .search{
        display: none;
    }

    .header-2 .navbar{
        background: #eee;
        padding: 1rem 2rem;
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: 0.2rem solid #000;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        -webkit-transition: .2s linear;
        transition: .2s linear;
        display: block;
        column-gap: 1.3rem;
        width: 100%;
    }

    .header-2 .navbar.active{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

    .header-2 .navbar a{
        display: block;
        margin: 2.2rem 0;
        padding-bottom: 1rem;
        color: #303030;
        border-bottom: .05rem solid rgba(0,0,0,.1);
    }

    .header-2 .navbar a.active{
        color: #303030;
    }

    .contact .row{
        gap: 3rem;
    }

}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }

    .header-1 .share{
        display: none;
    } 

    .header-1 .email .txts,
    .header-1 .call .txts{
        display: none;
    }

    .header-1 .email a ,.header-1 .call a{
        font-size: 2rem;
    }

    .header-1 {
        display: flex;
        padding-left: 30rem;
    }

    .home .home-slider{
        width: 100% !important;
        padding: 0 !important;
    }

    .home .home-slider .box .content p{
        width: 90%;
        line-height: 1.2;
    }

    .home .home-slider .box .content h3{
        font-size: 3.5rem;
    }

    .about, .extra{
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .about .image img{
        height: 40rem;
        width: 90%;
    }

    .about .content{
        margin-left: 0;
        padding: 0 1rem;
    }

    .about .content p{
        line-height: 1.7;
    }

    .about .image::after{
        left: 35px;
        width: 90%;
    }

    .banner-container{
        padding: 1.5rem;
    }

    .banner-container .banner .content h3{
        font-size: 2.3rem;
    }

    .service{
        padding: 0;
    }

    .service .image img{
        height:30rem;
        width: 90%;
    }

    .service .content .features-container{
        gap: 1rem;
    }

    .service .content .features-container .features .txts p{
        font-size: 1.7rem;
    }

    .service-features .cards-container{
        flex-direction: column;
        padding: 10px;
    }

    .service-features .cards-container .card {
        width: 95%;
        padding: 20px;
        line-height: 1.7;
    }

    .vision{
        height: 100vh;
        /* margin-bottom: 5rem !important; */
    }

    .vision .container {
        flex-direction: column;
    }

    .vision .container .image{
        background-size:cover;
        background-position: center;
        height: 100vh;
    }

    .stats {
        flex-direction: column;
        margin: 0rem !important;
    }

    .stat {
        width: 85%;
        background-color: rgba(247, 247, 247,.95);
    }

    .stat p{
        font-size: 1.6rem;
        color: black;
    }

    .s-cat{
        padding: 3rem 2rem;
    }

    .s-cat .cat-container{
        padding: 1rem;
    }

    .s-cat .cat-container .categories .image img{
        height: 25rem;
    }

    .s-cat .cat-container .categories .content i{
        padding: 2rem;
        font-size: 2rem;
        margin-top: -10rem;
    }
   
    .faqs h3, .faqs h3 span{
        font-size: 2.5rem;
    }

    .faq .container{
        padding:1rem;
        height:70vh !important
    }

    .portfolio .box-container{
        flex-direction: column;
        gap: 3rem;
        padding: 3rem 0 !important;
    }
    
    .portfolio .box-container .box{
        flex-direction: column;
        width: 100%;
    }

    .portfolio .box-container .box:nth-child(2){
        flex-direction: column-reverse;
    }
    .portfolio .box-container .box .img img{
        height: 270px;
        width: 270px;
        margin: 0 !important;
    }

    .steps .cards-container {
        flex-direction: column;
        gap: 3rem;
    }    

    .steps .cards-container .card{
        width: 100%;
    }

    .contact .row .contact-form input,
    .contact .row .contact-form textarea{
        width: 90%;
    }

    .contact{
        padding:3rem;
    }

    .contact .row{
        gap: 2rem;
    }

    .contact .row .map iframe{
        width: 88%;
        height: 50rem !important;
    }
    
    .footer{
        padding: 2rem 5rem;
        gap: 7rem;
    }

    .footer .about{
        display: none;
    }

    .extra{
        background-image: linear-gradient(180deg, rgb(140, 189, 196), white) !important;
    }

    .extra .row{
        flex-flow:column-reverse;
    }

    .extra .row .content p{
        width: 95%;
        font-size: 1.6rem;
        line-height: 1.7;
        color: black;
    }
   
    .left-section .oval-frame {  
        width: 150px;  
        height: 150px;
        margin: -13rem 18rem 0 0;
    }  
    
    .right-section .oval-frame {  
        width: 250px;  
        height: 250px;
    } 

    .container .row{
        flex-direction: column-reverse;
    }

    .footer{
        height: fit-content;
    }

    .copyright{
        padding-bottom: 13rem;
    }

    .copyright .footer-2{
        gap: 2rem;
        flex-flow: column;
        height: 10vh !important;
    }
}
